    <div class="bg-primary">
      <div class="container">

      <h1> TinyURL Generator </h1>
      <small> A website dedicated to shortening your URLs. </small>
    </div>
  </div>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li role="presentation"><a href='/urls'> Index Page </a></li>
          <li role="presentation"> <a href='/urls/new'> Shorten New URL </a></li>
          <li role="presentation"> <a href='/register'> Register </a></li>
          <% if (username === undefined) { %>
            <li role="presentation"><a href='/login'> Login </a></li>
          <% } %>
        </ul>
      </div>
    </div>
</nav>

<% if (username === undefined) { %>
<p style="text-align: center;"> Please log-in to continue </p>
<% } %>

<% if (username !== undefined) { %>
  <div style="border-style: solid; border-width: 1px; border-radius: 10px; width: 260px; margin:auto;">
      <form method="POST" action="/logout">
        <p style="text-align: center; vertical-align: middle;"> Hello <%= username.email %> </p>
        <p style="text-align: center; vertical-align: middle;"><button class="btn btn-danger">Logout </button> </p>
      </form>
  </div>
    <% } %>

