<!-- views/partials/_header.ejs -->

<!DOCTYPE html>

<html>
  <head> </head>

  <body>

    <header>
      <h2> TinyURL Generator </h2>
      </header>

      <nav>
          <li> <a href='/urls'> Index Page </a></li>
          <li> <a href='/urls/new'> Shorten New URL </a></li>
          <li> <a href='/register'> Register </a></li>
          <% if (username === undefined) { %>
            <li> <a href='/login'> Login </a></li>

          <% } else { %>
            <form method="POST" action="/logout">
              <li><button> Logout </button></li>
            </form>
            <br>
            Hello <%= username.email %>
          <% } %>


      </nav>

  </body>
</html>
