<!-- views/home.ejs -->

<!DOCTYPE html>

<html>

  <head>
    <title> TinyURL! </title>
  </head>

  <body>

    <h1> Welcome to TinyURL App </h1>

    <p> Lighthoue Labs - Project 2 </p>

  </body>
</html>
