<!-- views/login_page.ejs -->

<!DOCTYPE html>

<html>

<head>
  <% include ./partials/_head %>
  <title> Login Page </title>
</head>

<body>

<div class="bg-primary">
  <div class="container">
    <h1> Please insert your login credentials </h1>
  </div>
</div>
  <br>

    <% if (errorMessage !== "no error") { %>

  <p style="text-indent: 40px">  Incorrect login information, please retry. </p>

  <% } %>

  <br>

  <form method="POST" action="/login">
    <label style="text-indent: 40px;"> Email Address:</label>
    <input type="email" name="email">
    <br>
    <label style="text-indent:  40px;">Password:</label>
    <input type="password" name="password">
    <br>
    <input type="submit" value="Submit">
  </form>

  <br>


  Don't have an account? Register <a href="/register"> here! </a>

</body>

</html>