<!-- views/login_page.ejs -->

<!DOCTYPE html>

<html>

<head>
  <title> Login Page </title>
</head>

<body>

  <h1> Please insert your login credentials </h1>
  <br>
  <form method="POST" action="/login">
    <label> Email Address:</label>
    <input type="email" name="email">
    <br>
    <label>Password:</label>
    <input type="password" name="password">
    <br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>