<!-- views/register.ejd -->

<!DOCTYPE html>

<html>

  <head>
  <title> Register Here </title>
  </head>

  <body>

    <header>
      <h1> Registration Page </h1>
    <br>

    <form method="POST" action="/register">
      <label>Email Address: </label>
      <input type="email" name="email">
      <br>
      <label>Password: </label>
      <input type="password" name="password">
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>






