<!-- views/urls_show.ejs -->

<!DOCTYPE html>

<html>

  <head> </head>

  <body>

    <header>
      <% include partials/_header %>
    </header>

    <p>
      <li> Full URL = <%= urls[shortURL] %> </li>
      <li> Short URL = <%= shortURL %> </li>
    </p>


    <form method="POST" action="/urls/<%=shortURL%>">
      <br>
      Update URL:
      <input type="text" name="updatedURL">
      <input type="submit" value="Update">
      <br>

    <a href='/urls'> URLs Page </a>
   </body>
</html>




